@inherits LayoutComponentBase

<div class="container">
    <div class="header" style="display: flex; align-items: center; color: white" >
        <div class="navbar-container">
            <nav class="navbar">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/booking">Booking</a></li>
                </ul>
            </nav>
        </div>
        <div class="image-container" style="margin-left: -40px;">
            <img src="Images/mgcpic.png" alt="My Image" style="width: 400px;" />
        </div>
    </div>
    <div class="body">
        @Body
        <h1>Välkommen till MGC Disco Golf Simulation</h1>
    </div>
</div>